/* Container principal para a página de pontuação */
.containerScore {
    position: relative;
    width: 100%;
    min-height: 100vh; /* Altura mínima da tela */
    overflow-y: auto; /* Permite rolagem vertical */
  }
  
  .imageBackgroundScore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Continuação de 100% da altura */
    background-image: url("../../assets/imageVictory.png");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0; /* A imagem fica atrás do conteúdo */
  }
  
  .blackOpacityScore {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.75; /* Opacidade escura para contraste */
    z-index: 1; /* Fica acima da imagem de fundo */
  }
  
  .contentScore {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%; /* Ajuste para dar espaço nas margens */
    min-height: 100vh; /* Altura mínima para permitir rolagem */
    overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
  }
  .buttonContainer {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    width: 100%;
    margin-top: 100px; /* Ajuste a margem conforme necessário */
  }
  
  