.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Garante que a altura seja de 100% da viewport */
  overflow: hidden; /* Impede que o conteúdo extra saia da área da tela */
  padding: 25px;
}

.imageBackgroundGame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Continua ocupando 100% da altura da tela */
  background-image: url("../../assets/imageGame.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 0;
}

.blackOpacityGame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 1;
}

.contentGame {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: center;
  color: white;
  max-width: 90%; /* Limita o conteúdo horizontalmente */
  max-height: 90vh; /* Limita a altura para 90% da viewport */
  overflow-y: auto; /* Adiciona rolagem vertical quando necessário */
  scrollbar-width: thin; /* Para Firefox, torna a barra de rolagem mais fina */
  scrollbar-color: #55ED66 #333; /* Para Firefox, define as cores da barra de rolagem */
}

/* Personalização da rolagem para navegadores baseados no Webkit (Chrome, Safari) */
.contentGame::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

.contentGame::-webkit-scrollbar-thumb {
  background-color: #55ED66; /* Cor do "polegar" da barra de rolagem */
  border-radius: 10px; /* Bordas arredondadas para o "polegar" */
}

/* Novo estilo para header */
.header {
  margin-bottom: 20px; /* Espaço entre o header e o grid */
  margin-top: -10px; /* Ajuste para aproximar do topo */
}

.attemptsGrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Aumenta o espaço entre as linhas */
  margin: 50px 0 20px 0;
}

.attemptRow {
  display: flex;
  gap: 15px; /* Aumenta o espaço entre as células para espaçamento horizontal */
}

.attemptCell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: "Poppins-Medium";
  border-radius: 2px;
  color: #fff;
  background-color: #ccc;
}

.correct {
  background-color: #55ED66;
}

.present {
  background-color: #FFA85B;
}

.absent {
  background-color: #FF635B;
}
